﻿@model IEnumerable<AWSServerless_Google_Geocoding_Mvc.Models.Map>
@{
    ViewBag.Title = "Lokasyon Listesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/DataTables-1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/NiceAdmin/css/font-awesome.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Lokasyon Listesi
            </header>
            <table border="0" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td><button type="button" id="export" class="btn btn-info"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Tümünü Aktar</button></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-advance table-hover" id="mapTable">
                <thead>
                    <tr>
                        @*<th><i class="icon_profile"></i> ID</th>*@
                        <th><i class="fa fa-globe" aria-hidden="true"></i> Enlem</th>
                        <th><i class="fa fa-compass"></i> Boylam</th>
                        <th><i class="icon_pin_alt"></i> Adres</th>
                        @*<th><i class="fa fa-file" aria-hidden="true"></i> Dosya Adı</th>
                            <th><i class="fa fa-user" aria-hidden="true"></i> Yükleyen Kişi</th>
                            <th><i class="fa fa-calendar" aria-hidden="true"></i> Yüklenme Tarihi</th>*@
                    </tr>
                </thead>
                <tbody id="tblIcerik">
                </tbody>
            </table>
            @*<button type="button" id="export" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel'e Aktar</button>*@
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/Content/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            showMap();
            var html = "";
            function showMap() {

                $('#mapTable').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                    },
                    "searching": true,
                    "lengthChange": true,
                    "bInfo": true,
                    "processing": true, // for show progress bar
                    //"serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "responsive": true,
                    "paging": true,
                    "bDestroy": true,
                    "ajax": {
                        "url": "/Admin/GetMaps/",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        {
                            "data": "Latitude", "name": "Latitude", "autoWidth": true
                        },
                        {
                            "data": "Longitude", "name": "Longitude", "autoWidth": true
                        },
                        { "data": "Address", "name": "Address", "autoWidth": true },
                    ],
                });



            }

                //$('#mapTable').DataTable({
                //    "language": {
                //        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                //    },
                //    "searching": true,
                //    "lengthChange": true,
                //    "bInfo": true,
                //    //"processing": true, // for show progress bar
                //    ////"serverSide": true, // for process server side
                //    //"filter": true, // this is for disable filter (search box)
                //    //"orderMulti": false, // for disable multiple column at once
                //    //"responsive": true,
                //    //"paging": true,
                //    //"bDestroy": true,
                //    "ajax": {
                //        "url": "/Admin/GetMaps/",
                //        //"data": function (data) {
                //        //    data.token = localStorage.getItem("token");
                //        //},
                //        "type": "GET",
                //        //"datatype": "json",
                //        //"dataSrc": ""
                //    },
                //    "columns": [
                //        { "data": "Latitude", "name": "Latitude", "autoWidth": true },
                //        { "data": "Longitude", "name": "Longitude", "autoWidth": true },
                //        { "data": "Address", "name": "Address", "autoWidth": true },
                //    ],
                //});



                //$.ajax({
                //    url: "/Admin/Liste/",
                //    type: "GET",
                //    data: function (dataa) {
                //        dataa.token = localStorage.getItem("token");
                //    },
                //    success: function (data) {
                //        $.each(data, function (i, item) {
                //            console.log(item.latitude);
                //            html += '<tr>' +
                //                '<td>' + item.latitude + '</td>' +
                //                '<td>' + item.longitude + '</td>' +
                //                '<td>' + item.address + '</td>' +
                //                '</tr>';
                //        });
                //        $("#tblIcerik").append(html);
                //        $("#mapTable").DataTable({
                //            "language": {
                //                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                //            }
                //        });
                //    },
                //    error: function (error) {
                //        console.log(error);
                //    },
                //    contentType: "application/json",
                //    dataType: "json"
                //});
        });
    </script>
    <script type="text/javascript">
        $("#export").on('click', function () {
            Export();
        });

        function Export()
        {
           GetRequestedDataa("/Admin/ExportToExcel/");
           window.open("/Admin/ExportToExcel/");
        }

        function GetRequestedDataa(url) {
            $.ajax({
                url: url,
                async: false,
                type: 'GET',
                success: function (data) {
                    resultData = data; // here I am getting this UMS.Entities.Role
                },
                error: function (error) {
                    alert(error.statusText);
                }
            });

        }
    </script>
}


